{% extends "header.html" %}

{% block body %}
	<div class="container" style="margin-top: 20px; text-align: center;">
		<div class="page-header">
		  <h1>Copyrights</h1>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Docker</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/docker/docker-ce</div>
		</div>
			<!-- <div class="borderBottom"></div> -->
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Python</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/python/cpython</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Postgres</div>
			<div class="sourceLink col-md-6" style="text-align: left"></div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Nginx</div>
			<div class="sourceLink col-md-6" style="text-align: left"></div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Redis</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/antirez/redis</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Celery</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/celery/celery</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">gunicorn==19.7.1</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/danriti/gunicorn-flask</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">psycopg2==2.7.1</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/psycopg/psycopg2</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">eventlet==0.21.0</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/eventlet/eventlet</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">flask_testing==0.6.2</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/jarus/flask-testing</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">flask-script==2.0.5</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/smurfix/flask-script</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">flask_httpauth==3.2.3</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/miguelgrinberg/Flask-HTTPAuth</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">flask-login</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/maxcountryman/flask-login</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Jquery</div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/jquery/jquery</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Bootstrap </div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/twbs/bootstrap	</div>
		</div>
		<div class="row">
			<div class="sourceName col-md-5" style="text-align: right;">Start Bootstrap </div>
			<div class="sourceLink col-md-6" style="text-align: left">https://github.com/BlackrockDigital/startbootstrap-sb-admin<br/>https://github.com/BlackrockDigital/startbootstrap-sb-admin-2	</div>
		</div>

	</div>

	<style>
		.col-md-6 {
			padding: 0 25px;
		}

		.sourceName {
			font-weight: bold;
			font-size: 18px;
		}

		.sourceLink {
			font-size: 18px;
		}

		.borderBottom {
			display: inline-block;
			height: 1px;
			width: 500px;
			border-bottom: solid 1px black;
		}
	</style>
{% endblock %}
