{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>





<script>
function getSelected() {
   var selectedIds = myTable.columns().checkboxes.selected()[0];
   console.log(selectedIds)

   selectedIds.forEach(function(selectedId) {
       // Do something
   });
}
</script>


<!-- Page Content -->
<div class="container">

    <div class="section">
        <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
            Add Item
        </button>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#done">
            Change Item
        </button>
        <button class="btn btn-primary btn-lg" onclick="getSelected()">
            Delete Item
        </button> -->
        <div class="col-md-12 text-left">
            <h1>Welcome {{user.first_name}} !</h1>
            
 <!-- 

            <table id="projTable" class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items: %}
                    <tr>
                        <td></td>
                        <td>{{item.model}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.weight}}</td>
                        <td>{{item.brand}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
            
        </div> -->

        <div class="col-md-8" >
            <p> </p>

<!-- Delete Modal --> 
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" 
            aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" 
                        data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="delete">
                        Please enter the ID of the item to delete:
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form role="form" method="post">
                        <div class="form-group">
                        <label for="delete">Item ID: </label>
                            <input type="text" class="form-control"
                            id="delete" name="delete" placeholder="Item/ ID"/>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Modal --> 

<!-- Edit Modal --> 
<div class="modal fade" id="done" tabindex="-1" role="dialog" aria-labelledby="done" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" 
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="done">
            Please say which item ID you want to change:
        </h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

        <form role="form" method="post">
            <div class="form-group">
                <label for="pid">Item ID: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ ID"/>
            </div>
            <div class="form-group">
                <label for="pid">Model: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Model"/>
                <label for="pid">Price: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Price"/>
                <label for="pid">Weight: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Weight"/>
                <label for="pid">Brand: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Brand"/>            
            </div>
            <br>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>


    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
        data-dismiss="modal">
        Close
    </button>
</div>
</div>
</div>
</div>
<!-- End of Edit Modal --> 


<!-- Add Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" 
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Add a Item
        </h4>
    </div>


    <!-- Modal Body -->
    <div class="modal-body">

        <form role="form" class="add-item" method="post">
          <div class="form-group">
            <label for="itemType">Select Item Type</label>
            <select name="itemOptions" id="itemOptions" class="toggle_div">
            <option selected="selected"></option>
            <option value="Desktop">Desktop</option>
            <option value="Laptop">Laptop</option>
            <option value="Monitor">Monitor</option>
            <option value="Tablet">Tablet</option>
            <option value="Television">Television</option>
            </select>
        </div>
    </form>

<form name="Desktop" id="Desktop" style="display:none" method="post">
<!-- THIS IS FORM 1-->

    <div class="form-group"><label for="price">Enter Price</label>
            <input type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="processor">Enter Processor</label>
            <input type="text" name = "processor" class="form-control"
            id="processor" placeholder="Enter Processor"/>
        </div>
                <div class="form-group">
            <label for="ram_size">Enter Ram Size (GB)</label>
            <input type="text" name = "ram_size" class="form-control"
            id="ram_size" placeholder="Enter Ram Size"/> 
        </div>
                <div class ="form-group">
            <label for="cpu_cores">Enter # of Cores</label>
            <input type="text" name = "cpu_cores" class="form-control"
            id="cpu_cores" placeholder="Enter # Cores"/>
        </div>
                <div class="form-group">
            <label for="hd_size">Enter HD Size (GB)</label>
            <input type="text" name = "hd_size" class="form-control"
            id="hd_size" placeholder="Enter HD Size"/> 
        </div>        
            <div class="form-group">
            <label for="desktopdimensions">Enter Dimensions</label>
            <input type="text" name = "dimensions" class="form-control"
            id="dimensions" placeholder="Enter Dimensions"/> 
        </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>


<form name="Laptop" id="Laptop" style="display:none" method="post">
<!-- THIS IS FORM 2-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Display Size</label>
            <input type="text" name = "laptop_display_size" class="form-control"
            id="laptop_display_size" placeholder="Enter Display Size"/>
        </div>
        <div class="form-group">
            <label for="processor">Enter Processor</label>
            <input type="text" name = "processor" class="form-control"
            id="processor" placeholder="Enter Processor"/>
        </div>
                <div class="form-group">
            <label for="ram_size">Enter Ram Size (GB)</label>
            <input type="text" name = "ram_size" class="form-control"
            id="ram_size" placeholder="Enter Ram Size"/> 
        </div>
                <div class ="form-group">
            <label for="cpu_cores">Enter # of Cores</label>
            <input type="text" name = "cpu_cores" class="form-control"
            id="cpu_cores" placeholder="Enter # Cores"/>
        </div>
                <div class="form-group">
            <label for="hd_size">Enter HD Size (GB)</label>
            <input type="text" name = "hd_size" class="form-control"
            id="hd_size" placeholder="Enter HD Size"/> 
        </div>        
            <div class="form-group">
            <label for="dimensions">Enter Battery Info</label>
            <input type="text" name = "battery" class="form-control"
            id="battery" placeholder="Enter Battery"/> 
        </div>
                    <div class="form-group">
            <label for="dimensions">Enter OS</label>
            <input type="text" name = "operating_system" class="form-control"
            id="operating_system" placeholder="Enter OS"/> 
        </div>
            <div class="form-group">
            <label for="touchscreen">Touchscreen</label>
            <input type="checkbox" name = "touchscreen" class="form-control"
            id="touchscreen" value="touchscreen" /> 
        </div>
        <div class="form-group">
            <label for="touchscreen">Camera</label>
            <input type="checkbox" name = "camera" class="form-control"
            id="camera" value="camera" /> 
        </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>


<form name="Monitor" id="Monitor" style="display:none" method="post">
<!-- THIS IS FORM 3-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Dimensions</label>
            <input type="text" name = "monitor_dimensions" class="form-control"
            id="monitor_dimensions" placeholder="Enter Dimensions"/>
        </div>


<button type="submit" class="btn btn-default">Submit</button>
</form>


<form name="Tablet" id="Tablet" style="display:none" method="post">
<!-- THIS IS FORM 2-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Display Size</label>
            <input type="text" name = "tablet_display_size" class="form-control"
            id="tablet_display_size" placeholder="Enter Display Size"/>
        </div>
        <div class="form-group">
            <label for="processor">Enter Processor</label>
            <input type="text" name = "processor" class="form-control"
            id="processor" placeholder="Enter Processor"/>
        </div>
                <div class="form-group">
            <label for="ram_size">Enter Ram Size (GB)</label>
            <input type="text" name = "ram_size" class="form-control"
            id="ram_size" placeholder="Enter Ram Size"/> 
        </div>
                <div class ="form-group">
            <label for="cpu_cores">Enter # of Cores</label>
            <input type="text" name = "cpu_cores" class="form-control"
            id="cpu_cores" placeholder="Enter # Cores"/>
        </div>
                <div class="form-group">
            <label for="hd_size">Enter HD Size (GB)</label>
            <input type="text" name = "hd_size" class="form-control"
            id="hd_size" placeholder="Enter HD Size"/> 
        </div>        
            <div class="form-group">
            <label for="dimensions">Enter Battery Info</label>
            <input type="text" name = "battery" class="form-control"
            id="battery" placeholder="Enter Battery info"/> 
        </div>
            <div class="form-group">
            <label for="dimensions">Enter OS</label>
            <input type="text" name = "operating_system" class="form-control"
            id="operating_system" placeholder="Enter OS"/> 
        </div>
        <div class="form-group">
            <label for="dimensions">Enter Dimensions</label>
            <input type="text" name = "dimensions" class="form-control"
            id="dimensions" placeholder="Enter Dimensions"/> 
        </div>
        <div class="form-group">
            <label for="touchscreen">Camera</label>
            <input type="checkbox" name = "camera" class="form-control"
            id="camera" value="camera" /> 
        </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>

<form name="Television" id="Television" style="display:none" method="post">
<!-- THIS IS FORM 3-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Dimensions</label>
            <input type="text" name = "tv_dimensions" class="form-control"
            id="tv_dimensions" placeholder="Enter Dimensions"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Type</label>
            <select name="tv_type" id="tv_type">
            <option selected="selected"></option>
            <option value="HD">HD</option>
            <option value="LED">LED</option>
            <option value="3D">3D</option>
            <option value="Smart">Smart</option>
            </select>
        </div>

<button type="submit" class="btn btn-default">Submit</button>
</form>
<!-- 
<script>
$("#itemOptions").on("change", function() {
    $("#" + $(this).val()).show().siblings();

        if($(this).val() == "Desktop")
        {
                $('#Laptop').hide();
                $('#Monitor').hide();
                $('#Television').hide();
                $('#Tablet').hide();

        }

         if($(this).val() == "Laptop")
        {
                $('#Desktop').hide();
                $('#Monitor').hide();
                $('#Television').hide();
                $('#Tablet').hide();
        }

         if($(this).val() == "Monitor")
        {
                $('#Desktop').hide();
                $('#Laptop').hide();
                $('#Television').hide();
                $('#Tablet').hide();
        }

        if($(this).val() == "Television")
        {
                $('#Desktop').hide();
                $('#Laptop').hide();
                $('#Monitor').hide();
                $('#Tablet').hide();

        }

        if($(this).val() == "Tablet")
        {
                $('#Desktop').hide();
                $('#Laptop').hide();
                $('#Monitor').hide();
                $('#Television').hide();

        }

});


</script>
 -->

</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-default"
    data-dismiss="modal">
    Close
</button>
</div>

</div>
</div>
</div>

<!-- End of Edit Modal --> 



</div>
</div>
<!-- /.row --> 


</div>
<!-- /.container -->
{% endblock %}