{% extends "header.html" %}

{% block body %}

<!-- Bootstrap core JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin-datatables.min.js"></script>

<!-- DataTables CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">


<script type="text/javascript">
    var myTable;
    $(document).ready(function() {
       myTable = $('#projTable').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 4, 'asc' ]]

    } );
    });
</script>

<!--<script>
    function getSelected() {
        console.log(myTable.rows('.selected').data()[0]);
        var modelNumber = myTable.rows('.selected').data()[0][4];
        console.log(modelNumber);
        delete_from_inventory(modelNumber);
    }
</script>-->

<!-- Page Content -->
<div class="container">

    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Desktops</li>
      </ol>

    <!-- Table-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> List of Desktops<a href="#" class="btn btn-primary btn-sm" style="float: right;" data-toggle="modal" data-target="#myModalNorm" role="button">Add Item</a></div>
        <div class="card-body">
            <div class="table-responsive-sm">
                <table class="table table-responsive-sm table-bordered table-striped table-sm" id="projTable" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Add</th>
                        <th>Count</th>                        
                        <th>Model</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Brand</th>
                        <th>Processor</th>
                        <th>RAM</th>
                        <th># Cores</th>
                        <th>HD Size</th>
                        <th>Dimensions</th>
                    </tr>
                </thead>
                <tbody>
                {% if desktops: %}
                    {% for desktop in desktops: %}
                    <tr>
                        <td><button type="button" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#edit" onclick="fill_edit_form('{{desktop[0].model}}');"><i class="fa fa-fw fa-pencil"></i></button></td>
                        <td><button type="button" class="btn btn-danger btn-xs" onclick="delete_model('{{desktop[0].model}}');"><i class="fa fa-fw fa-trash"></i></button></td>
                        <td><button type="button" class="btn btn-link" onclick="add_to_inventory('{{desktop[0].model}}');"><i class="fa fa-fw fa-plus-circle"></i></button>
                            <button type="button" class="btn btn-link" onclick="delete_from_inventory('{{desktop[0].model}}');"><i class="fa fa-fw fa-minus-circle"></i></button></td>
                        <td>{{desktop[1]}}</td>
                        <td id="{{desktop[0].model}}">{{desktop[0].model}}</td>
                        <td id="{{desktop[0].model}}-price">{{desktop[0].price}}</td>
                        <td id="{{desktop[0].model}}-weight">{{desktop[0].weight}}</td>
                        <td id="{{desktop[0].model}}-brand">{{desktop[0].brand}}</td>
                        <td id="{{desktop[0].model}}-processor">{{desktop[0].processor}}</td>
                        <td id="{{desktop[0].model}}-ramsize">{{desktop[0].ram_size}}</td>
                        <td id="{{desktop[0].model}}-cpucores">{{desktop[0].cpu_cores}}</td>
                        <td id="{{desktop[0].model}}-hdsize">{{desktop[0].hd_size}}</td>
                        <td id="{{desktop[0].model}}-dimensions">{{desktop[0].dimensions}}</td>
                    </tr>
                    {% endfor %}
                {% else: %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                        </tr>
                {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>

        <script>
             function add_to_inventory(model) {
                 var form = document.createElement('form');
                 form.setAttribute('method', 'post');
                 form.setAttribute('action', '/add-inventory/Desktop/' + model);
                 form.style.display = 'hidden';
                 document.body.appendChild(form);
                 form.submit();
                 console.log('submitted');
             }

            function edit_button(){
                var modelNumber = myTable.rows('.selected').data()[0][4];
                fill_edit_form(modelNumber);
            }

            function fill_edit_form(model) {
                oFormObject = document.forms['myform_id'];
                oFormObject.elements["model"].value = model;
                oFormObject.elements["edit-price"].value = document.getElementById(model + "-price").innerHTML;
                oFormObject.elements["edit-weight"].value = document.getElementById(model + "-weight").innerHTML;
                oFormObject.elements["edit-brand"].value = document.getElementById(model + "-brand").innerHTML;
                oFormObject.elements["edit-processor"].value = document.getElementById(model + "-processor").innerHTML;
                oFormObject.elements["edit_ram_size"].value = document.getElementById(model + "-ramsize").innerHTML;
                oFormObject.elements["edit_cpu_cores"].value = document.getElementById(model + "-cpucores").innerHTML;
                oFormObject.elements["edit_hd_size"].value = document.getElementById(model + "-hdsize").innerHTML;
                oFormObject.elements["edit_desktopdimensions"].value = document.getElementById(model + "-dimensions").innerHTML;
}
            function delete_from_inventory(model) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/remove-inventory/Desktop/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();
            }

            function delete_model(model){
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/delete-desktop/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();

            }
        </script>


<!-- Delete Modal --> 
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" 
            aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" 
                        data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="delete">
                        Please enter the ID of the item to delete:
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form role="form" action="/desktop" method="post">
                        <div class="form-group">
                        <label for="delete">Item ID: </label>
                            <input required type="text" class="form-control"
                            id="delete" name="delete" placeholder="Item/ ID"/>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Modal --> 

<!-- Edit Modal --> 
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="done" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" 
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="done">
            Please enter the new values for your chosen field:
        </h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

        <form id="myform_id" role="form" action="/edit-desktop" method="post">
            <div class="form-group">
                <label for="model">Model: </label>
                <input required id = "model" type="text" name="model"
                       class="form-control"/></div>
            <div class="form-group">
                <label for="edit-price">Price: </label>
                <input required id="edit-price" type="text" class="form-control"
                       name="price" /></div>
            <div class="form-group">
                <label for="edit-weight">Weight: </label>
                <input required id="edit-weight" type="text" class="form-control"
                       name="weight" /> </div>
            <div class="form-group">
                <label for="edit-brand">Brand: </label>
                <input required id="edit-brand" type="text" class="form-control"
                       name="brand" /> </div>
            <div class="form-group">
                <label for="edit-processor">Processor: </label>
                <input required id="edit-processor" type="text" class="form-control"
                       name="processor" /> </div>
            <div class="form-group">
                <label for="edit_ram_size">Ram Size: </label>
                <input required id="edit_ram_size" type="text" class="form-control"
                       name="ram_size" /> </div>
            <div class="form-group">
                <label for="edit_cpu_cores">CPU Cores: </label>
                <input required id="edit_cpu_cores" type="text" class="form-control"
                       name="cpu_cores" /> </div>
            <div class="form-group">
                <label for="edit_hd_size">HD Size: </label>
                <input required id="edit_hd_size" type="text" class="form-control"
                       name="hd_size"/> </div>
            <div class="form-group">
                <label for="edit_desktopdimensions">Dimensions: </label>
                <input required id="edit_desktopdimensions" type="text" class="form-control"
                       name="desktopdimensions" /> </div>
            <br>

            <button type="submit" class="btn btn-default" >Submit</button>
        </form>


    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
        data-dismiss="modal">
        Close
    </button>
</div>
</div>
</div>
</div>
<!-- End of Edit Modal --> 


<!-- Add Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" 
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Add a Item
        </h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

<form name="Desktop" id="Desktop" action="/desktop" method="post">
<!-- THIS IS FORM 1-->

    <div class="form-group"><label for="price">Enter Price</label>
            <input required type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input required type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input required type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="processor">Enter Processor</label>
            <input required type="text" name = "processor" class="form-control"
            id="processor" placeholder="Enter Processor"/>
        </div>
                <div class="form-group">
            <label for="ram_size">Enter Ram Size (GB)</label>
            <input required type="text" name = "ram_size" class="form-control"
            id="ram_size" placeholder="Enter Ram Size"/> 
        </div>
                <div class ="form-group">
            <label for="cpu_cores">Enter # of Cores</label>
            <input required type="text" name = "cpu_cores" class="form-control"
            id="cpu_cores" placeholder="Enter # Cores"/>
        </div>
                <div class="form-group">
            <label for="hd_size">Enter HD Size (GB)</label>
            <input required type="text" name = "hd_size" class="form-control"
            id="hd_size" placeholder="Enter HD Size"/> 
        </div>        
            <div class="form-group">
            <label for="desktopdimensions">Enter Dimensions</label>
            <input required type="text" name = "desktopdimensions" class="form-control"
            id="desktopdimensions" placeholder="Enter Dimensions"/> 
        </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>

</div>


</div>
</div>
<!-- /.row --> 


</div>


</div>
<!-- /.container -->
{% endblock %}


