{% extends "header.html" %}

{% block body %}
<div class="container">
    <div id="ajax-alert" role="alert"></div>
    <div class="row" style="margin-top: 20px;">
        <div class="filter">
            Brand:  
            <select class="form-control custom-select" id="brand-filter">
                <option selected value="">None</option>
                {% for brand in filters.brand %}
                    <option value="{{brand}}">{{brand}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filter">
            Processor:  <select  class="form-control custom-select" id="processor-filter">
                        <option selected value="">None</option>
                        {% for processor in filters.processor %}
                            <option value="{{processor}}">{{processor}}</option>
                        {% endfor %}
                    </select>
        </div>
        <button id="filter-submit" class="btn btn-primary btn-sm">Search</button><br />
        <div>Sort By Price: 
            <select id="sort-by-filter" class="form-control">
                <option selected value="0">None</option>
                <option value="1">High to Low</option>
                <option value="-1">Low to High</option>
            </select>
        </div>
    </div>
</div>
    <!-- all the items get appended in this container -->
<div id="itemContainer" class="container"></div>
<script>
    var items = [];

    $(document).ready(function() {
        getDesktopData(null);

        $("#sort-by-filter").change(function(){
            var sortValue =  $("#sort-by-filter").val();

            if (sortValue == 1) {
                items = quick_sort_up(items);
            } else if (sortValue == -1) {
                items = quick_sort_down(items);
            }
            //reload the table
            $('#itemContainer').empty();
            for (var i = 0; i < items.length; i++) {
                $('#itemContainer').append(desktopElement(items[i]));
            }
            
        });
    });

    $('#filter-submit').click(function() {
        var filters =  {};
        var brandFilter = $('#brand-filter').val();
        var processorFilter = $('#processor-filter').val();

        if (brandFilter != '') {
            filters['brand'] = brandFilter;
        }

        if (processorFilter != '') {
            filters['processor'] = processorFilter;
        }

        getDesktopData(filters);
    });

    function getDesktopData(filters) {
        $.ajax({
            type: "GET",
            url: "/desktop-client/table",
            dataType: 'json',
            data: filters,
            beforeSend: function() {
                //loading gif logic goes here.
            },
            success: function(response) {
                $('#itemContainer').empty();
                if (response.data != null) {
                    items = [];
                    for (var i = 0; i < response.data.length; i++) {
                        items.push(response.data[i]);
                        $('#itemContainer').append(desktopElement(response.data[i]));
                    }
                }

                $('#item-count').text("Number of items : " + response.data.length);

                console.log("items %o", items);
            }
        }); 
    }

    function addToCart(e) {
        var model = $(e).find('span').text();

        var addToCartUrl = "/add-to-cart/" + model + "/desktop-client";
        $.ajax({
            type: "GET",
            url: addToCartUrl,
            beforeSend: function() {
            },
            success: function(response) {
               $("#ajax-alert").addClass("alert alert-success").text("Item Successfully Added to Cart.");
                $("#ajax-alert").alert();
                $("#ajax-alert").fadeTo(3000, 3000).slideUp(1000, function(){
                });

                getDesktopData(null);
            }
        });
    }

    function desktopElement(response) {
        var data = response[0];
        var count = response[1];
        return [
            '<div class="product-container panel panel-default">',
                '<div class="product-subcontainer text-left panel-body">',
                    '<img class="product-image" src="https://www.staples-3p.com/s7/is/image/Staples/m006008801_sc7?$splssku$">',
                    '<div class="price">$' + data.price + '</div>',
                    '<div class="brand">'+ data.brand + '</div>',
                    '<div class="info-container text-left">',
                        '<div>Weight: ' + data.weight + 'kg</div>',
                        '<div>Processor: ' + data.processor + '</div>',
                        '<div>Ram Size: ' + data.ram_size + '</div>',
                        '<div>CPU Cores: ' + data.cpu_cores + '</div>',
                        '<div>Hard Drive Space: ' + data.hd_size + 'Gb</div>',
                        '<div>Dimensions: ' + data.dimensions + '</div>',
                    '</div>',
                    '{% if user.is_authenticated: %}',
                    '<button class="btn btn-primary" onclick="addToCart(this)">Add To Cart<span style="display:none">'+data.model+'</span></div>',
                    '{% else: %}',
                    '<button class="btn btn-primary disabled" onclick="alert(\'You must be logged in to add item to cart.\');">Add To Cart<span style="display:none">'+data.model+'</span></div>',
                    '{% endif %}',
                '</div>',
            '</div>',
        ].join("\n");
    }
</script>
{% endblock %}

