<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Apollo Store</title>

    <!-- Bootstrap Core CSS -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">  -->
    <link href="{{url_for('static', filename='css/items.css')}}" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 80px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        #itemContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        .product-image {
            width: 100%;
        }

        .product-container {
          position: relative;
          width: 20%;
          padding: 10px;
          margin: 10px;
          box-sizing: border-box;
          background-color: white;
            box-shadow: 0px 0px 5px grey;
        }

        .product-container:hover {
        }

        .product-container .price {
            color: red;
            font-size: 18px;
            font-weight: bold;
        }

        .info-container {
            margin: 10px 0;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <header>
            <!-- Navigation -->
            <nav style="margin-bottom: 0px !important;" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% if user.is_authenticated: %}
                        <a class="navbar-brand" href="/logout">Logout</a>
                        {% else: %}
                        <a class="navbar-brand" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                        <a class="navbar-brand" href="#" data-toggle="modal" data-target="#signupModal">Register</a>
                        {% endif %}
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    {% if user.admin %}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li>
                                <a href="/desktop">Desktop</a>
                            </li>
                            <li>
                                <a href="/laptop">Laptop</a>
                            </li>
                            <li>
                                <a href="/monitor">Monitor</a>
                            </li>
                            <li>
                                <a href="/tablet">Tablet</a>
                            </li>
                            <li>
                                <a href="/users">Users</a>
                            </li>
                        </ul>
                    </div>
                {% else: %}
                <!-- This is the nav for users to direct to product views -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if user.is_authenticated: %}
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{user.first_name}} {{user.last_name}} <br> <b>Your Account</b> <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                <li><a href="/cart">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                                </a></li>
                                <li><a href="/returns"><span class="glyphicon glyphicon-chevron-left"></span>Return Purchases</a></li>
                                <li><a href="/account-settings"><span class="glyphicon glyphicon-cog"></span>Account Settings</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/home">Home</a>
                            </li>
                            <li>
                                <a href="/desktop-client">Desktop</a>
                            </li>
                            <li>
                                <a href="/laptop-client">Laptop</a>
                            </li>
                            <li>
                                <a href="/monitor-client">Monitor</a>
                            </li>
                            <li>
                                <a href="/tablet-client">Tablet</a>
                            </li>

                        </ul>
                    </div>
                {% endif %}
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>

		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
			     <form action="/login" method="post">
				  <div class="form-group">
				    <label for="loginEmailInput">Email address</label>
				    <input name="email" type="email" class="form-control" id="loginEmailInput" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="loginPasswordInput">Password</label>
				    <input name="password" type="password" class="form-control" id="loginPasswordInput" placeholder="Password">
				  </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button name="action" onclick="submit" class="btn btn-primary">Login</button>
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Signup Modal -->
		<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Signup</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form action="/register" method="post">
		        	<div class="row">
		        		<div class="col">
				        	<div class="form-group">
								    <label for="firstNameInput">First Name</label>
								    <input name="firstName" type="text" class="form-control" id="firstNameInput" placeholder="First Name">
								  </div>
								</div>
								<div class="col">
								  <div class="form-group">
								    <label for="lastNameInput">Last Name</label>
								    <input name="lastName" type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
								  </div>
								</div>
							</div>
						  <div class="form-group">
						    <label for="addressInput">Address</label>
						    <input name="address" type="text" class="form-control" id="addressInput" placeholder="Address">
						  </div>
						  <div class="form-group">
						    <label for="emailInput">Email address</label>
						    <input name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
						  </div>
						  <div class="form-group">
						    <label for="phoneInput">Phone</label>
						    <input name="phone" type="number" class="form-control" id="phoneInput" placeholder="Phone">
						  </div>
						  <div class="form-group">
						    <label for="passwordInput">Password</label>
						    <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
						  </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button name="action" type="submit" class="btn btn-primary">Create</button>
				      </div>
		      	</form>
		    </div>
		  </div>
		</div>

            <!-- Bootstrap Core JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </header>

        {% block body %}{% endblock %}

    </body>

    </html>
