{% extends "header.html" %}

{% block body %}
<div style="position: fixed; width: 100vw; height: 100vh; background-color:black">
  <img src="https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb">
  <div class="home-title">
    <div class="main-title">
      Apollo Store
    </div>
    <div class="sub-title">
      We got everything you need!
    </div>
  </div>
</div>
<style>
  body {
    padding: 0 !important;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  .home-title {
    position: absolute;
    text-align: left;
    padding: 0 10vw;
    font-size: 60px;
    top: 50%;
    width: 50%;
    right: 50%;
    z-index: 99;
  }

  .sub-title {
    font-size: 35px;
  }
</style>
{% endblock %}

