<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Apollo Store</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <style>

     	/*use these color palettes:*/
     	/*#caebf2 sky blue*/
     	/*#a9a9a9 carbon grey*/
     	/*#ff3b3f watermelon red*/
     	/*#efefef neutral grey*/
    	html {
    		font-size: 16px;
    	}

    	body {
    		background-color: #efefef;
    		color: black;
    	}

    	h1 {
    		font-weight: bold;
    		font-size: 6rem;
    	}

    	a {
    		color: black;
    		border: none !important;
    	}

    	a:hover {
    		color: #ff3b3f;
    	}

    	#searchInput {
    		max-width: 300px;
    		float: left;
    	}

    	.nav {
    		background-color: white;
    		padding: 10px;
    	}

    	.title {
    		color: #a9a9a9;
    		text-transform: uppercase;
    	}

    	.section {
    		padding: 30px 0;
    	}

    	.sub-title {
    		background-color: #caebf2;
    		padding: 10px;
    	}
    </style>
  </head>

  <body>
		<ul class="nav justify-content-end">
  		<input type="text" class="form-control" id="searchInput" placeholder="Search">
			{% if user is defined %}	
			<li class="nav-item">
			<a class="nav-link" href="/test">
			dashboard
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/logout">
			logout
			</a>
			</li>
			{% else %}	
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
				  login
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">
				  signup
				</a>
			</li>
		  {% endif %}
		</ul>

		<div class="container text-center">
			<div class="section">
				<h1 class="title">Apollo Store</h1>
				<h3 class="sub-title title">For all your electronic needs</h3>
			</div>
			{% if user is defined %}
				Welcome {{user.first_name}}
			{% endif %}
		</div>
		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
			     <form action="/login" method="post">
				  <div class="form-group">
				    <label for="loginEmailInput">Email address</label>
				    <input name="email" type="email" class="form-control" id="loginEmailInput" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="loginPasswordInput">Password</label>
				    <input name="password" type="password" class="form-control" id="loginPasswordInput" placeholder="Password">
				  </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button name="action" onclick="submit" class="btn btn-primary">Login</button>
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Signup Modal -->
		<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Signup</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form action="/register" method="post">
		        	<div class="row">
		        		<div class="col">
				        	<div class="form-group">
								    <label for="firstNameInput">First Name</label>
								    <input name="firstName" type="text" class="form-control" id="firstNameInput" placeholder="First Name">
								  </div>
								</div>
								<div class="col">
								  <div class="form-group">
								    <label for="lastNameInput">Last Name</label>
								    <input name="lastName" type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
								  </div>
								</div>
							</div>
						  <div class="form-group">
						    <label for="addressInput">Address</label>
						    <input name="address" type="text" class="form-control" id="addressInput" placeholder="Address">
						  </div>
						  <div class="form-group">
						    <label for="emailInput">Email address</label>
						    <input name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
						  </div>
						  <div class="form-group">
						    <label for="phoneInput">Phone</label>
						    <input name="phone" type="number" class="form-control" id="phoneInput" placeholder="Phone">
						  </div>
						  <div class="form-group">
						    <label for="passwordInput">Password</label>
						    <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
						  </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button name="action" type="submit" class="btn btn-primary">Create</button>
				      </div>
		      	</form>
		    </div>
		  </div>
		</div>

	    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script src="/static/js/script.js"></script>
	<!-- <script src="/static/js/script.js"></script> -->
  </body>

</html>