{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>


<script type="text/javascript">
    var myTable;
    $(document).ready(function() {
       myTable = $('#projTable').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]]
    } );
    });
</script>



<script>
    function getSelected() {
        console.log(myTable.rows('.selected').data()[0]);
        var modelNumber = myTable.rows('.selected').data()[0][4];
        console.log(modelNumber);
        delete_from_inventory(modelNumber);
    }
</script>


<!-- Page Content -->
<div class="container">

    <div class="section">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
            Add Item
        </button>

        <div class="col-md-12 text-left">
            <h1>List of Items</h1>
            <table id="projTable" class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Add</th>
                        <th>Count</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Brand</th>
                        <th>Display Size</th>
                        <th>Processor </th>
                        <th>RAM </th>
                        <th># Cores </th>
                        <th> HD Size </th>
                        <th> Battery </th>
                        <th> OS </th>
                        <th> Touchscreen </th>
                        <th> Camera </th>
                    </tr>
                </thead>
                <tbody>
                {% if laptops: %}
                    {% for laptop in laptops: %}
                    <tr>
                        <td></td>
                        <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit" onclick="fill_edit_form('{{laptop[0].model}}');">EDIT</button></td>
                        <td><button type="button" class="btn btn-default" onclick="delete_model('{{laptop[0].model}}');">DELETE</button></td>
                        <td><button type="button" class="btn btn-default" onclick="add_to_inventory('{{laptop[0].model}}');">+</button>
                        <button type="button" class="btn btn-default" onclick="delete_from_inventory('{{laptop[0].model}}');">-</button></td>
                        <td>{{laptop[1]}}</td>
                        <td id="{{laptop[0].model}}">{{laptop[0].model}}</td>
                        <td id="{{laptop[0].model}}-price">{{laptop[0].price}}</td>
                        <td id="{{laptop[0].model}}-weight">{{laptop[0].weight}}</td>
                        <td id="{{laptop[0].model}}-brand">{{laptop[0].brand}}</td>
                        <td id="{{laptop[0].model}}-displaysize">{{laptop[0].display_size}}</td>
                        <td id="{{laptop[0].model}}-processor">{{laptop[0].processor}}</td>
                        <td id="{{laptop[0].model}}-ramsize">{{laptop[0].ram_size}}</td>
                        <td id="{{laptop[0].model}}-cpucores">{{laptop[0].cpu_cores}}</td>
                        <td id="{{laptop[0].model}}-hdsize">{{laptop[0].hd_size}}</td>
                        <td id="{{laptop[0].model}}-batteryinfo">{{laptop[0].battery_info}}</td>
                        <td id="{{laptop[0].model}}-os">{{laptop[0].os}}</td>
                        <td id="{{laptop[0].model}}-touchscreen">{{laptop[0].touchscreen}}</td>
                        <td id="{{laptop[0].model}}-camera">{{laptop[0].camera}}</td>
                    </tr>
                    {% endfor %}
                {% else: %}
	                	<tr>
	                        <td></td>
                            <td><button type="button" class="btn btn-default btn-sm" onclick="">+</button></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>

        <script>
            function add_to_inventory(model) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/add-inventory/Laptop/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form)
                form.submit();
                console.log('submitted');
            }
        </script>

        <script>
            function edit_button(){
                var modelNumber = myTable.rows('.selected').data()[0][4];
                fill_edit_form(modelNumber);
            }


        </script>

        <script>
            function fill_edit_form(model) {
                oFormObject = document.forms['myform_id'];
                oFormObject.elements["model"].value = model;
                oFormObject.elements["edit-price"].value = document.getElementById(model + "-price").innerHTML;
                oFormObject.elements["edit-weight"].value = document.getElementById(model + "-weight").innerHTML;
                oFormObject.elements["edit-brand"].value = document.getElementById(model + "-brand").innerHTML;
                oFormObject.elements["edit-displaysize"].value = document.getElementById(model + "-displaysize").innerHTML;
                oFormObject.elements["edit-processor"].value = document.getElementById(model + "-processor").innerHTML;
                oFormObject.elements["edit-ramsize"].value = document.getElementById(model + "-ramsize").innerHTML;
                oFormObject.elements["edit-cpucores"].value = document.getElementById(model + "-cpucores").innerHTML;
                oFormObject.elements["edit-hdsize"].value = document.getElementById(model + "-hdsize").innerHTML;
                oFormObject.elements["edit-batteryinfo"].value = document.getElementById(model + "-batteryinfo").innerHTML;
                oFormObject.elements["edit-os"].value = document.getElementById(model + "-os").innerHTML;
                if(document.getElementById(model + "-touchscreen").innerHTML  == "True") {
                    oFormObject.elements["edit-touchscreen"].checked = true;
                }
                if(document.getElementById(model + "-touchscreen").innerHTML == "False"){
                    oFormObject.elements["edit-touchscreen"].checked = false;
                }
                if(document.getElementById(model + "-camera").innerHTML  == "True") {
                    oFormObject.elements["edit-camera"].checked = true;
                }
                if(document.getElementById(model + "-camera").innerHTML == "False"){
                    oFormObject.elements["edit-camera"].checked = false;
                }
            }
        </script>
         <script>
            function delete_from_inventory(model) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/remove-inventory/Laptop/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();
            }
            function delete_model(model){
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/delete-laptop/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();

            }
        </script>

        <div class="col-md-8" >
            <p> </p>

<!-- Delete Modal -->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog"
            aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                        data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="delete">
                        Please enter the ID of the item to delete:
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form role="form" method="post">
                        <div class="form-group">
                        <label for="delete">Item ID: </label>
                            <input required type="text" class="form-control"
                            id="delete" name="delete" placeholder="Item/ ID"/>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Modal -->

<!-- Edit Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="done" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close"
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="done">
            Please say which item ID you want to change:
        </h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

        <form id="myform_id" role="form" action="/edit-laptop" method="post">
            <div class="form-group">
                <label for="model">Model: </label>
                <input required id = "model" type="text" name="model"
                       class="form-control"/></div>
            <div class="form-group">
                <label for="edit-price">Price: </label>
                <input required id="edit-price" type="text" class="form-control"
                       name="price" /></div>
            <div class="form-group">
                <label for="edit-weight">Weight: </label>
                <input required id="edit-weight" type="text" class="form-control"
                       name="weight" /> </div>
            <div class="form-group">
                <label for="edit-brand">Brand: </label>
                <input required id="edit-brand" type="text" class="form-control"
                       name="brand" /> </div>
            <div class="form-group">
                <label for="edit-displaysize">Display Size: </label>
                <input required id="edit-displaysize" type="text" class="form-control"
                       name="laptop_display_size" /> </div>
            <div class="form-group">
                <label for="edit-processor">Processor: </label>
                <input required id="edit-processor" type="text" class="form-control"
                       name="processor" /> </div>
            <div class="form-group">
                <label for="edit-ramsize">Ram Size: </label>
                <input required id="edit-ramsize" type="text" class="form-control"
                       name="ram_size" /> </div>
            <div class="form-group">
                <label for="edit-cpucores">CPU Cores: </label>
                <input required id="edit-cpucores" type="text" class="form-control"
                       name="cpu_cores" /> </div>
            <div class="form-group">
                <label for="edit-hdsize">HD Size: </label>
                <input required id="edit-hdsize" type="text" class="form-control"
                       name="hd_size"/> </div>
            <div class="form-group">
                <label for="edit-batteryinfo">Battery Info: </label>
                <input required id="edit-batteryinfo" type="text" class="form-control"
                       name="battery_info" /> </div>
            <div class="form-group">
                <label for="edit-os">Operating System: </label>
                <input required id="edit-os" type="text" class="form-control"
                       name="operating_system" /> </div>
            <div class="form-group">
                <label for="edit-touchscreen">Touchscreen</label>
                <input required type="checkbox" name = "touchscreen" class="form-control"
                id="edit-touchscreen" /></div>
            <div class="form-group">
                <label for="edit-camera">Camera</label>
                <input required type="checkbox" name = "camera" class="form-control"
                id="edit-camera" /></div>
            <br>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>


    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
        data-dismiss="modal">
        Close
    </button>
</div>
</div>
</div>
</div>
<!-- End of Edit Modal -->


<!-- Add Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close"
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Add a Item
        </h4>
    </div>


    <!-- Modal Body -->
    <div class="modal-body">





<form name="Laptop" id="Laptop" method="post">
<!-- THIS IS FORM 2-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input required type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input required type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input required type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="laptop_display_size">Enter Display Size</label>
            <input required type="text" name = "laptop_display_size" class="form-control"
            id="laptop_display_size" placeholder="Enter Display Size"/>
        </div>
        <div class="form-group">
            <label for="processor">Enter Processor</label>
            <input required type="text" name = "processor" class="form-control"
            id="processor" placeholder="Enter Processor"/>
        </div>
                <div class="form-group">
            <label for="ram_size">Enter Ram Size (GB)</label>
            <input required type="text" name = "ram_size" class="form-control"
            id="ram_size" placeholder="Enter Ram Size"/>
        </div>
                <div class ="form-group">
            <label for="cpu_cores">Enter # of Cores</label>
            <input required type="text" name = "cpu_cores" class="form-control"
            id="cpu_cores" placeholder="Enter # Cores"/>
        </div>
                <div class="form-group">
            <label for="hd_size">Enter HD Size (GB)</label>
            <input required type="text" name = "hd_size" class="form-control"
            id="hd_size" placeholder="Enter HD Size"/>
        </div>
            <div class="form-group">
            <label for="battery">Enter Battery Info</label>
            <input required type="text" name = "battery" class="form-control"
            id="battery" placeholder="Enter Battery"/>
        </div>
                    <div class="form-group">
            <label for="operating_system">Enter OS</label>
            <input required type="text" name = "operating_system" class="form-control"
            id="operating_system" placeholder="Enter OS"/>
        </div>
            <div class="form-group">
            <label for="touchscreen">Touchscreen</label>
            <input required type="checkbox" name = "touchscreen" class="form-control"
            id="touchscreen" value="touchscreen" />
        </div>
        <div class="form-group">
            <label for="touchscreen">Camera</label>
            <input required type="checkbox" name = "camera" class="form-control"
            id="camera" value="camera" />
        </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>



</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-default"
    data-dismiss="modal">
    Close
</button>
</div>

</div>
</div>
</div>

<!-- End of Edit Modal -->



</div>
</div>
<!-- /.row -->


</div>
<!-- /.container -->
{% endblock %}


