{% extends "header.html" %}

{% block body %}
<div class="container">
    <div id="ajax-alert" role="alert"></div>
    <div class="row">
        Brand:  <select class="custom-select" id="brand-filter">
                    <option selected value="">None</option>
                    {% for brand in filters.brand %}
                        <option value="{{brand}}">{{brand}}</option>
                    {% endfor %}
                </select>
        Dimensions:  <select class="custom-select" id="dimensions-filter">
                    <option selected value="">None</option>
                    {% for dimensions in filters.dimensions %}
                        <option value="{{dimensions}}">{{dimensions}}</option>
                    {% endfor %}
                </select>
        <button id="filter-submit">Search</button>
        <!-- <div id="item-count" class="text-right" style="float: right"></div>  -->
        <div>Sort By Price: 
            <select id="sort-by-filter">
                <option selected value="0">None</option>
                <option value="1">High to Low</option>
                <option value="-1">Low to High</option>
            </select>
        </div>
    </div>
</div>
    <!-- all the items get appended in this container -->
<div id="itemContainer" class="container"></div>
<script>
    var items = [];

    $(document).ready(function() {
        getMonitorData(null);

        $("#sort-by-filter").change(function(){
            var sortValue =  $("#sort-by-filter").val();

            if (sortValue == 1) {
                items = quick_sort_up(items);
            } else if (sortValue == -1) {
                items = quick_sort_down(items);
            }
            //reload the table
            $('#itemContainer').empty();
            for (var i = 0; i < items.length; i++) {
                $('#itemContainer').append(monitorElement(items[i]));
            }
            
        });
    });

    $('#filter-submit').click(function() {
        var filters =  {};
        var brandFilter = $('#brand-filter').val();
        var dimensionsFilter = $('#dimensions-filter').val();

        if (brandFilter != '') {
            filters['brand'] = brandFilter;
        }

        if (dimensionsFilter != '') {
            filters['dimensions'] = dimensionsFilter;
        }

        getMonitorData(filters);
    });

    function getMonitorData(filters) {
        $.ajax({
            type: "GET",
            url: "/monitor-client/table",
            dataType: 'json',
            data: filters,
            beforeSend: function() {
                //loading gif logic goes here.
            },
            success: function(response) {
                $('#itemContainer').empty();

                if (response.data != null) {
                    items = [];
                    for (var i = 0; i < response.data.length; i++) {
                        items.push(response.data[i]);
                        $('#itemContainer').append(monitorElement(response.data[i]));
                    }
                }

                $('#item-count').text("Number of items : " + response.data.length);
            }
        }); 
    }

    function addToCart(e) {
        var model = $(e).find('span').text();

        var addToCartUrl = "/add-to-cart/" + model + "/monitor-client";
        $.ajax({
            type: "GET",
            url: addToCartUrl,
            beforeSend: function() {
            },
            success: function(response) {
               $("#ajax-alert").addClass("alert alert-success").text("Item Successfully Added to Cart.");
                $("#ajax-alert").alert();
                $("#ajax-alert").fadeTo(3000, 3000).slideUp(1000, function() {
                });

                getMonitorData(null);
            }
        });
    }

    function monitorElement(response) {
        var data = response[0];
        var count = response[1];
        return [
            '<div class="product-container panel panel-default">',
                '<div class="product-subcontainer text-left panel-body">',
                    '<img class="product-image" src="https://images-na.ssl-images-amazon.com/images/I/31cJY0tv1JL._SL500_AC_SS350_.jpg">',
                    '<div class="price">$' + data.price + '</div>',
                    '<div class="brand">'+ data.brand + '</div>',
                    '<div class="info-container text-left">',
                        '<div>Weight: ' + data.weight + 'kg</div>',,
                        '<div>Dimensions: ' + data.dimensions + '</div>',
                    '</div>',
                    '{% if user.is_authenticated: %}',
                    '<button class="btn btn-primary" onclick="addToCart(this)">Add To Cart<span style="display:none">'+data.model+'</span></div>',
                    '{% else: %}',
                    '<button class="btn btn-primary disabled" onclick="alert(\'You must be logged in to add item to cart.\');">Add To Cart<span style="display:none">'+data.model+'</span></div>',
                    '{% endif %}',
                '</div>',
            '</div>',
        ].join("\n");
    }
</script>
{% endblock %}

