{% extends "header.html" %}

{% block body %}
<h1>Welcome to Apollo Store, {{user.first_name}}! </h1>
<script> console.log("{{items}}")</script>
<div class="options">
<select class="selectpicker" align="right">
  <option>Sort by</option>
  <option>Sort by Price</option>
  <option>Sort by Name</option>
  <option>Sort by Type</option>
</select>
</div>

<style>
select.selectpicker {
    float:right
}
</style>

<!-- Monitor Section -->
<div class='header'>
  <h1>Monitors</h1>
  <input type="text" id="searchInput" onkeyup="search()" placeholder="Search">
  <span class='show-all' id='show-all'>
    Show all
    <span class='show-all-count' id='show-all-count'></span>
  </span>
</div>
<script>
 itemVar = {} ; 
 userCart = []; 
</script>

{% if monitors: %}
<div class='items' id='items'>
    {% for monitor in monitors: %}

  <div class='item' data-toggle="modal" data-target="#myModalNorm" id="{{monitor[0].model}}" onclick="fill_form('{{monitor[0].model}}');">
    <img class='item-image' src='https://assets.iamsteve.me/placeholder/1.jpg'>
    <h2 class='item-title' >{{monitor[0].model}}</h2>
    <p class='item-description'> Brand: {{monitor[0].brand}} <br/> Price: {{monitor[0].price}}
    </p>
  </div>

  <script>

    itemVar["{{monitor[0].model}}"] = {};
    itemVar["{{monitor[0].model}}"].price = "{{monitor[0].price}}";
    itemVar["{{monitor[0].model}}"].weight = "{{monitor[0].weight}}";
    itemVar["{{monitor[0].model}}"].brand = "{{monitor[0].brand}}";
    itemVar["{{monitor[0].model}}"].dimensions = "{{monitor[0].dimensions}}";



  </script>  

    {% endfor %}
 </div>   
{% else: %}
<div class='items' id='items'>
 <div class="alert alert-danger fade in" style="width:100%;">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>All our monitors are sold out!</strong>
</div>
</div>



{% endif %}




<div class="modal fade product_view" id="myModalNorm" id="myModalNorm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title" id="modelheader">Test item</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                  <!-- PRODUCT IMAGE -->
                    <div class="col-md-6 product_img">
                        <img src="http://img.bbystatic.com/BestBuy_US/images/products/5613/5613060_sd.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                      <!-- PRODUCT ID -->
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            (10 reviews)
                        </div>
                        <!-- PRODUCT IMAGE -->
                        <p>
                        <p><b>Weight:</b> <span id="itemweight"></span></p>
                        <p><b>Brand:</b> <span id="itembrand"></span></p>
                        <p><b>Dimensions:</b> <span id="itemdimensions"></span></p>
                        </p>
                                                <h3><span class="glyphicon glyphicon-usd"></span><span id="itemprice"> </span>
                            <div class="col-md-4 col-sm-12">
                                <select class="form-control" name="select" id="quantity">
                                    <option value="1" selected="">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div> </h3>
                            <!-- end col -->
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button type="button" class="btn btn-primary" onclick="add_to_cart(document.getElementById('modelheader').innerHTML)"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
             function add_to_cart(model) {
                 var form = document.createElement('form');
                 form.setAttribute('method', 'get');
                 form.setAttribute('action', '/add-to-cart/' + model + '/monitor-client');
                 form.style.display = 'hidden';
                 document.body.appendChild(form);
                 form.submit();
                 console.log('submitted');
             }
</script>



<script>
  var all = document.getElementById('show-all');
  var itemCount = document.getElementsByClassName('item').length;
  var counter = document.getElementById('show-all-count');

  counter.innerText = ' (' + itemCount + ')';

  all.addEventListener('click', function() {
    this.classList.toggle('active');
    items.classList.toggle('items-columns');
  });
</script>

<script>
    function fill_form(model) {
        document.getElementById('modelheader').innerHTML = model;
        document.getElementById('itemprice').innerHTML = itemVar[model].price;
        document.getElementById('itemweight').innerHTML = itemVar[model].weight;
        document.getElementById('itembrand').innerHTML = itemVar[model].brand;
        document.getElementById('itemdimensions').innerHTML = itemVar[model].dimensions;
} 

</script>
<script>

function add_to_cart(model, qty){ 
var allItems = JSON.parse(localStorage.getItem('itemsArray')) || [];

var newItem = 
{
 'model': model,
 'quantity': qty
};

 allItems.push(newItem);

 localStorage.setItem('itemsArray', JSON.stringify(allItems));
    
}       

</script>
<script>

    function search() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toUpperCase();
        var items =  document.getElementById('items').children;
        var count = 0; 

        for (var id in itemVar) {
            item = JSON.stringify(Object.values(itemVar[id]));

            console.log(item);

            if (item.toUpperCase().indexOf(filter) > -1) {
                document.getElementById(id).style.display = "";
                count++;
            } else {
                document.getElementById(id).style.display = "none";
            }
        }

        document.getElementById('show-all-count').innerText = ' (' + count + ')';
    }
</script>
{% endblock %}