{% extends "header.html" %}

{% block body %}

<!-- Bootstrap core JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin-datatables.min.js"></script>

<!-- DataTables CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">


<script type="text/javascript">
    var myTable;
    $(document).ready(function() {
       myTable = $('#projTable').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 4, 'asc' ]]
    } );
    });
</script>

<!-- Page Content -->
<div class="container">

    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Monitors</li>
      </ol>

    <!-- Table-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> List of Monitors<a href="#" class="btn btn-primary btn-sm" style="float: right;" data-toggle="modal" data-target="#myModalNorm" role="button">Add Item</a></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm" id="projTable" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Add</th>
                        <th>Count</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Brand</th>
                        <th>Dimensions</th>
                    </tr>
                </thead>
                <tbody>
                {% if monitors: %}
                    {% for monitor in monitors: %}
                    <tr>
                        <td><button type="button" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#edit" onclick="fill_edit_form('{{monitor[0].model}}');"><i class="fa fa-fw fa-pencil"></i></button></td>
                        <td><button type="button" class="btn btn-danger btn-xs" onclick="delete_model('{{monitor[0].model}}');"><i class="fa fa-fw fa-trash"></i></button></td>
                        <td><button type="button" class="btn btn-link" onclick="add_to_inventory('{{monitor[0].model}}');"><i class="fa fa-fw fa-plus-circle"></i></button>
                            <button type="button" class="btn btn-link" onclick="delete_from_inventory('{{monitor[0].model}}');"><i class="fa fa-fw fa-minus-circle"></i></button></td>
                        <td>{{monitor[1]}}</td>
                        <td id="{{monitor[0].model}}">{{monitor[0].model}}</td>
                        <td id="{{monitor[0].model}}-price">{{monitor[0].price}}</td>
                        <td id="{{monitor[0].model}}-weight">{{monitor[0].weight}}</td>
                        <td id="{{monitor[0].model}}-brand">{{monitor[0].brand}}</td>
                        <td id="{{monitor[0].model}}-dimensions">{{monitor[0].dimensions}}</td>
                    </tr>
                    {% endfor %}
                {% else: %}
	                	<tr>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                    </tr>
                {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>

        <script>
             function add_to_inventory(model) {
                 var form = document.createElement('form');
                 form.setAttribute('method', 'post');
                 form.setAttribute('action', '/add-inventory/Monitor/' + model);
                 form.style.display = 'hidden';
                 document.body.appendChild(form)
                 form.submit();
                 console.log('submitted');
             }

            function edit_button(){
                var modelNumber = myTable.rows('.selected').data()[0][4];
                fill_edit_form(modelNumber);
            }


            function fill_edit_form(model) {
                oFormObject = document.forms['myform_id'];
                oFormObject.elements["model"].value = model;
                oFormObject.elements["edit-price"].value = document.getElementById(model + "-price").innerHTML;
                oFormObject.elements["edit-weight"].value = document.getElementById(model + "-weight").innerHTML;
                oFormObject.elements["edit-brand"].value = document.getElementById(model + "-brand").innerHTML;
                oFormObject.elements["edit-dimensions"].value = document.getElementById(model + "-dimensions").innerHTML;
            }

            function delete_from_inventory(model) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/remove-inventory/Monitor/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();
            }

            function delete_model(model){
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/delete-monitor/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();

            }
        </script>


<!-- Edit Modal -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="done" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

    <!-- Modal Body -->
    <div class="modal-body">

        <form id="myform_id" role="form" action="/edit-monitor" method="post">
            <div class="form-group">
                <label for="model">Model: </label>
                <input required type="text" class="form-control"
                id="model" name="model" placeholder="Model" readonly/>
                <label for="edit-price">Price: </label>
                <input required type="number" min="0" class="form-control"
                id="edit-price" name="price" placeholder="Price"/>
                <label for="edit-weight">Weight: </label>
                <input required type="number" min="0" class="form-control"
                id="edit-weight" name="weight" placeholder="Weight"/>
                <label for="edit-brand">Brand: </label>
                <input required type="text" class="form-control"
                id="edit-brand" name="brand" placeholder="Brand"/>
                <label for="edit-dimensions">Dimensions: </label>
                <input required type="text" class="form-control"
                id="edit-dimensions" name="monitor_dimensions" placeholder="Brand"/>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>

    <!-- Modal Footer -->
</div>
</div>
</div>
<!-- End of Edit Modal -->


<!-- Add Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
    <!-- Modal Body -->
    <div class="modal-body">

<form name="Monitor" id="Monitor" action="/monitor" method="post">
<!-- THIS IS FORM 3-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input required type="number" min="0" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input required type="number" min="0" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input required type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Dimensions</label>
            <input required type="text" name = "monitor_dimensions" class="form-control"
            id="monitor_dimensions" placeholder="Enter Dimensions"/>
        </div>


<button type="submit" class="btn btn-default">Submit</button>
</form>

</div>


</div>
</div>
<!-- /.row -->


</div>
<!-- /.row -->


</div>
<!-- /.container -->
{% endblock %}


