{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>


<script type="text/javascript">
    var myTable;
    $(document).ready(function() {
       myTable = $('#projTable').DataTable( {
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]]

    } );
    });
</script>


<script>
    function getSelected() {
        console.log(myTable.rows('.selected').data()[0]);
        var selectedId = myTable.rows('.selected').data()[0][3];
        console.log(selectedId);
        delete_from_inventory(selectedId);
    }
</script>


<!-- Page Content -->
<div class="container">

    <div class="section">

        <div class="col-md-12 text-left">
            <h1>Confirm purchases</h1>
            <table id="projTable" class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Count</th>                        
                        <th>Model</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                {% if items: %}
                    {% for item in items: %}
                    <tr>
                        <td>{{item[1]}}</td>
                        <td id="{{item[0].model}}">{{item[0].model}}</td>
                        <td id="{{item[0].model}}-price">{{item[0].price}}</td>
                        <td id="{{item[0].model}}-weight">{{item[0].weight}}</td>
                        <td id="{{item[0].model}}-brand">{{item[0].brand}}</td>
                    </tr>

                    {% endfor %}
                {% else: %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>      
                        </tr>
                {% endif %}
                </tbody>
            </table>    
            
            <p> </p>
            <p align="right"> The Sum Total of your Cart is : $ </p>          
        </div>
        <div class="row">
                <div class="col-md text-right">
                    <button class="btn btn-primary">Confirm Purchase</button>
                </div>
            </div>
        <div class="col-md-8" >
            <p> </p>

{% endblock %}


