{% extends "header.html" %}

{% block body %}

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script> -->

<script>
    function returns_purchase() {
        $('.returnCheckbox:checkbox:checked').each( function() {
            var modelId = $(this).val();

            $.ajax({
                type: "GET",
                url: "/return-item/" + modelId,
                beforeSend: function() {
                    //loading gif logic goes here.
                },
                success: function(response) {
                    $("#"+modelId).remove();
                }
            }); 
        });
    }
</script>
<!-- Page Content -->
<div class="container">
    <div class="section">

        <div class="col-md-12 text-left">
            <h1>Returns</h1>
            <div class="row product-row">
                <table class="table"> 
                    <thead> 
                        <tr> 
                            <th></th> 
                            <th>Model</th> 
                            <th>Item</th>
                            <th>Purchased Date</th>
                        </tr> 
                    </thead> 
                    <tbody>  
                        {% if returns: %}
                            {% for return in returns: %}
                            <tr id="{{return.model_id}}">
                                <th scope="row">
                                    <input type="checkbox" class="returnCheckbox" id="{{return.model_id}}" name="model_id" value="{{return.model_id}}">
                                    <label for="{{return.model_id}}"></label>
                                </th>
                                <td>{{return.model_id}}</td>
                                <td>{{return.type}}</td>
                                <td>{{return.added_time}}</td>
                            </tr>
                            {% endfor %}
                        {% else: %}
                            <td>No purchased items.</td>
                        {% endif %}
                    </tbody>
                </table>
                <div class="row text-right">
                    <button type="button" class="btn btn-primary" onclick="returns_purchase()">Return items</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


