{% extends "header.html" %}

{% block body %}

<!-- Bootstrap core JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin-datatables.min.js"></script>

<!-- DataTables CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">


<script type="text/javascript">
    var myTable;
    $(document).ready(function() {
       myTable = $('#projTable').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 4, 'asc' ]]
    } );
    });
</script>

<!-- Page Content -->
<div class="container">

    <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tablets</li>
      </ol>

    <!-- Table-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> List of Tablets<a href="#" class="btn btn-primary btn-sm" style="float: right;" data-toggle="modal" data-target="#myModalNorm" role="button">Add Item</a></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-sm" id="projTable" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Add</th>
                        <th>Count</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Brand</th>
                        <th>Display Size</th>
                        <th>Processor</th>
                        <th>RAM</th>
                        <th># Cores</th>
                        <th>HD Size</th>
                        <th>Battery</th>
                        <th>OS</th>
                        <th>Dimensions</th>
                        <th>Camera</th>
                    </tr>
                </thead>
                <tbody>
                {% if tablets: %}
                    {% for tablet in tablets: %}
                    <tr>
                        <td><button type="button" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#edit" onclick="fill_edit_form('{{tablet[0].model}}');"><i class="fa fa-fw fa-pencil"></i></button></td>
                        <td><button type="button" class="btn btn-danger btn-xs" onclick="delete_model('{{tablet[0].model}}');"><i class="fa fa-fw fa-trash"></i></button></td>
                        <td><button type="button" class="btn btn-link" onclick="add_to_inventory('{{tablet[0].model}}');"><i class="fa fa-fw fa-plus-circle"></i></button>
                            <button type="button" class="btn btn-link" onclick="delete_from_inventory('{{tablet[0].model}}');"><i class="fa fa-fw fa-minus-circle"></i></button></td>
                        <td>{{tablet[1]}}</td>
                        <td id ="{{tablet[0].model}}">{{tablet[0].model}}</td>
                        <td id ="{{tablet[0].model}}-price">{{tablet[0].price}}</td>
                        <td id ="{{tablet[0].model}}-weight">{{tablet[0].weight}}</td>
                        <td id ="{{tablet[0].model}}-brand">{{tablet[0].brand}}</td>
                        <td id ="{{tablet[0].model}}-displaysize">{{tablet[0].display_size}}</td>
                        <td id ="{{tablet[0].model}}-processor">{{tablet[0].processor}}</td>
                        <td id="{{tablet[0].model}}-ramsize">{{tablet[0].ram_size}}</td>
                        <td id="{{tablet[0].model}}-cpucores">{{tablet[0].cpu_cores}}</td>
                        <td id="{{tablet[0].model}}-hdsize">{{tablet[0].hd_size}}</td>
                        <td id="{{tablet[0].model}}-batteryinfo">{{tablet[0].battery}}</td>
                        <td id="{{tablet[0].model}}-os">{{tablet[0].os}}</td>
                        <td id="{{tablet[0].model}}-dimensions">{{tablet[0].dimensions}}</td>
                        <td id="{{tablet[0].model}}-camerainfo">{{tablet[0].camera_info}}</td>
                    </tr>
                    {% endfor %}
                {% else: %}
	                	<tr>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                    </tr>
                {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>

        <script>
            function add_to_inventory(model) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/add-inventory/Tablet/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form)
                form.submit();
                console.log('submitted');
            }

            function fill_edit_form(model) {
                oFormObject = document.forms['myform_id'];
                oFormObject.elements["model"].value = model;
                oFormObject.elements["edit-price"].value = document.getElementById(model + "-price").innerHTML;
                oFormObject.elements["edit-weight"].value = document.getElementById(model + "-weight").innerHTML;
                oFormObject.elements["edit-brand"].value = document.getElementById(model + "-brand").innerHTML;
                oFormObject.elements["edit-displaysize"].value = document.getElementById(model + "-displaysize").innerHTML;
                oFormObject.elements["edit-processor"].value = document.getElementById(model + "-processor").innerHTML;
                oFormObject.elements["edit-ramsize"].value = document.getElementById(model + "-ramsize").innerHTML;
                oFormObject.elements["edit-cpucores"].value = document.getElementById(model + "-cpucores").innerHTML;
                oFormObject.elements["edit-hdsize"].value = document.getElementById(model + "-hdsize").innerHTML;
                oFormObject.elements["edit-batteryinfo"].value = document.getElementById(model + "-batteryinfo").innerHTML;
                oFormObject.elements["edit-os"].value = document.getElementById(model + "-os").innerHTML;
                oFormObject.elements["edit-dimensions"].value = document.getElementById(model + "-dimensions").innerHTML;
                oFormObject.elements["edit-camerainfo"].value = document.getElementById(model + "-camerainfo").innerHTML;

            }

            function delete_from_inventory(model) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/remove-inventory/Tablet/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();
            }

            function delete_model(model){
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/delete-tablet/' + model);
                form.style.display = 'hidden';
                document.body.appendChild(form);
                form.submit();

            }

            function edit_button(){
                var modelNumber = myTable.rows('.selected').data()[0][4];
                fill_edit_form(modelNumber);
            }

        </script>

<!-- Edit Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="done" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

    <!-- Modal Body -->
    <div class="modal-body">

        <form id="myform_id" role="form" action="/edit-tablet" method="post">
            <div class="form-group">
                <label for="model">Model: </label>
                <input required id = "model" type="text" name="model"
                       class="form-control" readonly/></div>
            <div class="form-group">
                <label for="edit-price">Price: </label>
                <input required id="edit-price" type="number" min="0" class="form-control"
                       name="price" /></div>
            <div class="form-group">
                <label for="edit-weight">Weight: </label>
                <input required id="edit-weight" type="number" min="0" class="form-control"
                       name="weight" /> </div>
            <div class="form-group">
                <label for="edit-brand">Brand: </label>
                <input required id="edit-brand" type="text" class="form-control"
                       name="brand" /> </div>
            <div class="form-group">
                <label for="edit-displaysize">Display Size: </label>
                <input required id="edit-displaysize" type="text" class="form-control"
                       name="tablet_display_size" /> </div>
            <div class="form-group">
                <label for="edit-processor">Processor: </label>
                <input required id="edit-processor" type="text" class="form-control"
                       name="processor" /> </div>
            <div class="form-group">
                <label for="edit-ramsize">Ram Size: </label>
                <input required id="edit-ramsize" type="number" min="0" class="form-control"
                       name="ram_size" /> </div>
            <div class="form-group">
                <label for="edit-cpucores">CPU Cores: </label>
                <input required id="edit-cpucores" type="text" class="form-control"
                       name="cpu_cores" /> </div>
            <div class="form-group">
                <label for="edit-hdsize">HD Size: </label>
                <input required id="edit-hdsize" type="number" min="0" class="form-control"
                       name="hd_size"/> </div>
            <div class="form-group">
                <label for="edit-batteryinfo">Battery Info: </label>
                <input required id="edit-batteryinfo" type="text" class="form-control"
                       name="battery" /> </div>
            <div class="form-group">
                <label for="edit-os">Operating System: </label>
                <input required id="edit-os" type="text" class="form-control"
                       name="operating_system" /> </div>
            <div class="form-group">
                <label for="edit-dimensions">Dimensions:</label>
                <input required type="text" name = "dimensions" class="form-control"
                id="edit-dimensions" /></div>
            <div class="form-group">
                <label for="edit-camerainfo">Camera Info:</label>
                <input required type="text" name = "camera" class="form-control"
                id="edit-camerainfo" /></div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>

</div>
</div>
</div>
<!-- End of Edit Modal -->


<!-- Add Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

    <!-- Modal Body -->
    <div class="modal-body">


<form name="Tablet" id="Tablet" method="post">
<!-- THIS IS FORM 2-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input required type="number" min="0" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input required type="number" min="0" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input required type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="tablet_display_size">Enter Display Size</label>
            <input required type="text" name = "tablet_display_size" class="form-control"
            id="tablet_display_size" placeholder="Enter Display Size"/>
        </div>
        <div class="form-group">
            <label for="processor">Enter Processor</label>
            <input required type="text" name = "processor" class="form-control"
            id="processor" placeholder="Enter Processor"/>
        </div>
                <div class="form-group">
            <label for="ram_size">Enter Ram Size (GB)</label>
            <input required type="number" min="0" name = "ram_size" class="form-control"
            id="ram_size" placeholder="Enter Ram Size"/>
        </div>
                <div class ="form-group">
            <label for="cpu_cores">Enter # of Cores</label>
            <input required type="text" name = "cpu_cores" class="form-control"
            id="cpu_cores" placeholder="Enter # Cores"/>
        </div>
                <div class="form-group">
            <label for="hd_size">Enter HD Size (GB)</label>
            <input required type="number" min="0" name = "hd_size" class="form-control"
            id="hd_size" placeholder="Enter HD Size"/>
        </div>
            <div class="form-group">
            <label for="dimensions">Enter Battery Info</label>
            <input required type="text" name = "battery" class="form-control"
            id="battery" placeholder="Enter Battery info"/>
        </div>
            <div class="form-group">
            <label for="dimensions">Enter OS</label>
            <input required type="text" name = "operating_system" class="form-control"
            id="operating_system" placeholder="Enter OS"/>
        </div>
        <div class="form-group">
            <label for="dimensions">Enter Dimensions</label>
            <input required type="text" name = "dimensions" class="form-control"
            id="dimensions" placeholder="Enter Dimensions"/>
        </div>
        <div class="form-group">
            <label for="camera">Camera</label>
            <input required type="text" name = "camera" class="form-control"
            id="camera" placeholder="Enter Camera Info"  />
        </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>




</div>


</div>
</div>
</div>

<!-- End of Edit Modal -->



</div>
<!-- /.container -->
{% endblock %}


