{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>


<script type="text/javascript">
    var myTable;
    $(document).ready(function() {
       myTable = $('#projTable').DataTable( {
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:   0
        } ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]]
    } );
    });
</script>



<script>
function getSelected() {
   var selectedIds = myTable.columns().checkboxes.selected()[0];
   console.log(selectedIds)

   selectedIds.forEach(function(selectedId) {
       // Do something
   });
}
</script>


<!-- Page Content -->
<div class="container">

    <div class="section">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
            Add Item
        </button>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#done">
            Change Item
        </button>
        <button class="btn btn-primary btn-lg" onclick="getSelected()">
            Delete Item
        </button>
        <div class="col-md-12 text-left">
            <h1>List of Items</h1>
            <table id="projTable" class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>+</th>
                        <th>Count</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Weight</th>
                        <th>Brand</th>
                        <th>Type</th>
                        <th>Dimensions</th>
                    </tr>
                </thead>
                <tbody>
                	{% if televisions: %}
	                    {% for television in televisions: %}
	                    <tr>
	                        <td></td>
	                        <td></td>
	                        <td>{{television[1]}}</td>
	                        <td>{{television[0].model}}</td>
	                        <td>{{television[0].price}}</td>
	                        <td>{{television[0].weight}}</td>
	                        <td>{{television[0].brand}}</td>
	                        <td>{{television[0].type}}</td>
	                        <td>{{television[0].dimensions}}</td>
	                    </tr>
	                    {% endfor %}
	                {% else: %}
	                	<tr>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                    </tr>
                    {% endif %}
                </tbody>
            </table>    
            
        </div>

        <div class="col-md-8" >
            <p> </p>

<!-- Delete Modal --> 
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" 
            aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" 
                        data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="delete">
                        Please enter the ID of the item to delete:
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form role="form" method="post">
                        <div class="form-group">
                        <label for="delete">Item ID: </label>
                            <input type="text" class="form-control"
                            id="delete" name="delete" placeholder="Item/ ID"/>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Modal --> 

<!-- Edit Modal --> 
<div class="modal fade" id="done" tabindex="-1" role="dialog" aria-labelledby="done" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" 
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="done">
            Please say which item ID you want to change:
        </h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

        <form role="form" method="post">
            <div class="form-group">
                <label for="pid">Item ID: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ ID"/>
            </div>
            <div class="form-group">
                <label for="pid">Model: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Model"/>
                <label for="pid">Price: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Price"/>
                <label for="pid">Weight: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Weight"/>
                <label for="pid">Brand: </label>
                <input type="text" class="form-control"
                id="pid" name="pid" placeholder="Type/ Brand"/>            
            </div>
            <br>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>


    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
        data-dismiss="modal">
        Close
    </button>
</div>
</div>
</div>
</div>
<!-- End of Edit Modal --> 


<!-- Add Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" 
            data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            Add a Item
        </h4>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">

<form name="Television" id="Television" method="post">
<!-- THIS IS FORM 3-->
    <div class="form-group"><label for="price">Enter Price</label>
            <input type="text" name = "price" class="form-control"
            id="price" placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <label for="weight">Enter Weight</label>
            <input type="text" name = "weight" class="form-control"
            id="weight" placeholder="Enter Weight"/>
        </div>
        <div class="form-group">
            <label for="brand">Enter Brand</label>
            <input type="text" name = "brand" class="form-control"
            id="brand" placeholder="Enter Brand"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Dimensions</label>
            <input type="text" name = "tv_dimensions" class="form-control"
            id="tv_dimensions" placeholder="Enter Dimensions"/>
        </div>
        <div class="form-group">
            <label for="display_size">Enter Type</label>
            <select name="tv_type" id="tv_type">
            <option selected="selected"></option>
            <option value="HD">HD</option>
            <option value="LED">LED</option>
            <option value="3D">3D</option>
            <option value="Smart">Smart</option>
            </select>
        </div>

<button type="submit" class="btn btn-default">Submit</button>
</form>

</div>


</div>
</div>
<!-- /.row --> 


</div>
<!-- /.container -->
{% endblock %}


